@use '../../App' as *;

.image-container {
  width: 35%;
  height: 35%;
  position: absolute;
  top: 25%;
  right: 10%;
}

.planet-image {
  width: 100%;
  height: auto;
  animation: updown 3s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}