@use '../../App' as *;

.home-page {
    .text-content {
      position: absolute;
      left: 15%;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
      max-height: 90%;
    }
  
    h1 {
      color: #ffffff;
      font-size: 3.5rem;
      line-height: 53px;
      margin: 0;
      font-weight: 400;
  
      &:before {
        content: '<h1>';
        color: #ffffff;
        font-size: 18px;
        position: absolute;
        margin-top: -40px;
        left: -15px;
        opacity: 0.6;
      }
  
      &:after {
        content: '<h1/>';
        color: #ffffff;
        font-size: 18px;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.6;
      }
  
      img {
        margin-left: 20px;
        opacity: 0;
        width: 32px;
        height: auto;
        animation: rotateIn 1s linear both;
        animation-delay: 1.4s;
      }
    }
  
    h2 {
      color: $secondary-color;
      margin-top: 20px;
      font-weight: 400;
      font-size: 13px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
    }
  
    .contact-button {
      color: $primary-color;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid $primary-color;
      margin-top: 25px;
      float: left;
      animation: fadeInAnimation 1s 1.8s backwards;
      white-space: nowrap;
  
      &:hover {
        background: $primary-color;
        color: $focus-color;
      }
    }
  }
  
  
  
  @media screen and (max-width: 1200px) {
    .tags {
      display: none;
    }
  
    .home-page  {
      h1 {
        font-size: 3rem;

        &:before {
          display: none;
        }

        &:after {
          display: none;
        }
      }

      .text-content {
        width: 100%;
        position: initial;
        transform: none;
        padding: 10px;
        box-sizing: border-box;
      }

      .flat-button {
        float: none;
        display: block;
        margin: 20px auto 0 auto;
        width: 124px;
      }
    }
  }