@use './App' as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 400 16px/1.5 'SourceCodePro', sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background-color;
  overflow: hidden;
  display: flex;
}

// For ease of personal use only
.dashboard {
  margin: 200px 0 0 200px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (max-width: 1200px) {
  body {
    font: 400 11px/1.4 'SourceCodePro', sans-serif;
    overflow: visible;
  }
}